.tabheader_left
{
    background-image:url( ../../standard/img/porlet/home/Frm_topL.png);  
    background-repeat: no-repeat;    
    width: 7px;
    height: 42px;
    float:left;
}

.tabheader_bg
{
    background-image:url( ../../standard/img/porlet/home/Frm_top.png);
    background-repeat:repeat-x;
    height: 42px;
    float:left;
    width: 845px;
}

.tabheader_right
{
    background-image:url( ../../standard/img/porlet/home/Frm_topR.png);    background-repeat: no-repeat; 
    width: 7px;
    height: 42px;
    float:left;
}

.tabheader_left_on
{
    /*background-image:url( ../../standard/img/porlet/home/Frm_topL.png);  
    background-repeat: no-repeat;    
    width: 7px;
    height: 42px;
    float:left;*/
}

.tabheader_bg_on
{
    background-image:url( ../../standard/img/porlet/home/bgcolorx22.jpg);
    background-repeat:repeat;
    padding-top: 0px;
    height: 36px;
    float:left;
}

.tabheader_right_on
{
    /*background-image:url( ../../standard/img/porlet/home/Frm_topR.png);  
    background-repeat: no-repeat; 
    width: 7px;
    height: 42px;
    float:left;*/
}

.tableheaher_left
{
    background-image:url( ../../standard/img/porlet/home/Frm_Lcolor.png);  
    background-repeat:repeat-y;    
}


.tableheaher_bg
{
    background-image:url( ../../standard/img/porlet/home/bgcolorx22.jpg);
    background-repeat:repeat-x;
}

.tableheaher_right
{
    background-image:url( ../../standard/img/porlet/home/Frm_Rcolor.png);  
    background-repeat:repeat-y;
    background-position:right;
}

#container
{
    margin: 50px auto 0;
}

#tabChild
{
    margin: 0;
    padding: 5px 0;
    z-index: 10;
}

#tabChild a
{
    font-size:11px;
    text-decoration: none;
    font-weight:normal;
    color:#ffffff;
}

#tabChild li
{
    border-radius: 0.3em 0.3em 0 0;
    padding-left:5px;
    padding-right:5px;
    margin:  0px 0px 0px 0px;
    cursor: pointer;
    display: inline;
    float: left;
}
.left_menu ul li.active {
    background-color: #568600;
    color: #FFFFFF;
    font-weight: bold;
}

.footerbg
{
    height:11px; 
    background-image:url( ../../standard/img/porlet/home/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.headerbg
{
    height:11px; 
    background-image:url(../../standard/img/porlet/home/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

.porletsectionheader {
	background-image:url( ../../standard/img/porlet/home/bgcolorx22.jpg);
    background-repeat:repeat-x;
    font-weight: bold;
    margin: 5px 0 10px;
    padding: 5px;
}