.newpage_content {
    float: left;
    width: 860px;
}

.newpage_heading {
    /*background-color: #568600;*/
    color: #FFFFFF;
    float: left;
    font-size: 15px;
    font-weight: bold;
    padding:5px 0px 5px 0px; 
    width: 845px;
}

.divbacklink
{
    float:left;
    padding-left:8px;
}

.divbacklink>a
{
    color:#417C78;
    font-weight:bold;
    text-decoration: none;
}

#container
{
    margin: 50px auto 0;
}

#tabul
{
    margin: 0;
    padding: 5px 0;
    z-index: 10;
}

#tabul > li > a 
{
    /*font-size:11px;*/
    text-decoration: none;
    font-weight:bold;
    color:#ffffff;
}

#tabul li
{
    /*border-radius: 0.3em 0.3em 0 0;
    padding: 0px 0px 0px 0px;
    margin:  0px 0px 0px 0px;
    
    float: left;
    */
    cursor: pointer;
    display: inline;
    color: White;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    text-decoration: none;
}

#tabul .newmenu_left
{
    background-position: left bottom;
    background-repeat: no-repeat;
    width: 7px;
    height: 45px;
    float:left;
}

#tabul .newmenu_bg
{
    background-repeat:repeat-x;
    /*padding-top: 10px;*/
	background-position:bottom;
    height: 45px;
    float:left;
}

#tabul .newmenu_right
{
    background-position: right bottom;
    background-repeat: no-repeat; 
    width: 7px;
    height: 45px;
    float:left;
}

#tabul .home_left
{
    background-image:url( ../img/porlet/home/Header/Home_L.png);  
    background-repeat: no-repeat;    
}

#tabul .home_bg
{
    background-image:url( ../img/porlet/home/Header/Home_bg.png);
    /*margin-top :10px;*/
}

#tabul .home_right
{
    background-image:url( ../img/porlet/home/Header/Home_R.png);  
}

#tabul .home_left_hover
{
    background-image:url( ../img/porlet/home/Header/Home_L_hover.png);  
}

#tabul .home_bg_hover
{
    background-image:url( ../img/porlet/home/Header/Home_bg_hover.png);
}

#tabul .home_right_hover
{
    background-image:url( ../img/porlet/home/Header/Home_R_hover.png);  
}

.home_line
{
    background-image:url( ../img/porlet/home/Header/bg_line.jpg);
    background-position: bottom;
    /*margin-top: 40px;*/
}

.home_footerbg
{
    height:11px; 
    background-image:url( ../img/porlet/home/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.home_headerbg
{
    height:11px; 
    background-image:url(../img/porlet/home/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#tabul .applications_left
{
    background-image:url( ../img/porlet/applications/Header/App_L.png); 
}

#tabul .applications_bg
{
    background-image:url( ../img/porlet/applications/Header/App_bg.png);
	height:45px;
	/*margin-top :10px;*/
}

#tabul .applications_right
{
    background-image:url( ../img/porlet/applications/Header/App_R.png);    
}

#tabul .applications_left_hover
{
    background-image:url( ../img/porlet/applications/Header/App_L_hover.png); 
}

#tabul .applications_bg_hover
{
    background-image:url( ../img/porlet/applications/Header/App_bg_hover.png);
}

#tabul .applications_right_hover
{
    background-image:url( ../img/porlet/applications/Header/App_R_hover.png);    
}

.applications_line
{
    background-image:url( ../img/porlet/applications/Header/bg_line.jpg);    
    /*margin-top: 40px;*/
}

.applications_footerbg
{
    height:11px; 
    background-image:url( ../img/porlet/applications/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.applications_headerbg
{
    height:11px; 
    background-image:url(../img/porlet/applications/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#tabul .students_left
{
    background-image:url( ../img/porlet/students/Header/Student_L.png);   
    background-repeat: no-repeat; 
}

#tabul .students_bg
{
    background-image:url( ../img/porlet/students/Header/Student_bg.png);
    /*margin-top :10px;*/
}

#tabul .students_right
{
    background-image:url( ../img/porlet/students/Header/Student_R.png);    
}

#tabul .students_left_hover
{
    background-image:url( ../img/porlet/students/Header/Student_L_hover.png);
    
}

#tabul .students_bg_hover
{
    background-image:url( ../img/porlet/students/Header/Student_bg_hover.png);
    background-color: #006500 50%;
}

#tabul .students_right_hover
{
    background-image:url( ../img/porlet/students/Header/Student_R_hover.png);    
}

.students_line
{
    background-image:url( ../img/porlet/students/Header/bg_line.jpg);    
    /*margin-top: 40px;*/
}

.students_footerbg
{
    height:11px; 
    background-image:url( ../img/porlet/students/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.students_headerbg
{
    height:11px; 
    background-image:url(../img/porlet/students/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#tabul .teachers_left
{
    background-image:url( ../img/porlet/teachers/Header/Teacher_L.png);   
    background-repeat: no-repeat; 
}

#tabul .teachers_bg
{
    background-image:url( ../img/porlet/teachers/Header/Teacher_bg.png);
    /*margin-top :10px;*/
}

#tabul .teachers_right
{
    background-image:url( ../img/porlet/teachers/Header/Teacher_R.png);    
}

#tabul .teachers_left_hover
{
    background-image:url( ../img/porlet/teachers/Header/Teacher_L_hover.png);   
    background-repeat: no-repeat; 
}

#tabul .teachers_bg_hover
{
    background-image:url( ../img/porlet/teachers/Header/Teacher_bg_hover.png);
}

#tabul .teachers_right_hover
{
    background-image:url( ../img/porlet/teachers/Header/Teacher_R_hover.png);    
}

.teachers_line
{
    background-image:url( ../img/porlet/teachers/Header/bg_line.jpg);    
    /*margin-top: 40px;*/
}

.teachers_footerbg
{
    height:11px; 
    background-image:url( ../img/porlet/teachers/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.teachers_headerbg
{
    height:11px; 
    background-image:url(../../standard/img/porlet/teachers/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#tabul .courses_left
{
    background-image:url( ../img/porlet/courses/Header/Courses_L.png);   
    background-repeat: no-repeat; 
}

#tabul .courses_bg
{
    background-image:url( ../img/porlet/courses/Header/Courses_bg.png);
    /*margin-top :10px;*/
}

#tabul .courses_right
{
    background-image:url( ../img/porlet/courses/Header/Courses_R.png);    
}

#tabul .courses_left_hover
{
    background-image:url( ../img/porlet/courses/Header/Courses_L_hover.png);   
    background-repeat: no-repeat; 
}

#tabul .courses_bg_hover
{
    background-image:url( ../img/porlet/courses/Header/Courses_bg_hover.png);
}

#tabul .courses_right_hover
{
    background-image:url( ../img/porlet/courses/Header/Courses_R_hover.png);    
}

.courses_line
{
    background-image:url( ../img/porlet/courses/Header/bg_line.jpg);    
    /*margin-top: 40px;*/
}

.courses_footerbg
{
    height:11px; 
    background-image:url( ../img/porlet/courses/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.courses_headerbg
{
    height:11px; 
    background-image:url(../img/porlet/courses/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#tabul .sections_left
{
    background-image:url( ../img/porlet/sections/Header/Sections_L.png);   
    background-repeat: no-repeat; 
}

#tabul .sections_bg
{
    background-image:url( ../img/porlet/sections/Header/Sections_bg.png);
    /*margin-top :10px;*/
}

#tabul .sections_right
{
    background-image:url( ../img/porlet/sections/Header/Sections_R.png);    
}

#tabul .sections_left_hover
{
    background-image:url( ../img/porlet/sections/Header/Sections_L_hover.png);   
}

#tabul .sections_bg_hover
{
    background-image:url( ../img/porlet/sections/Header/Sections_bg_hover.png);
}

#tabul .sections_right_hover
{
    background-image:url( ../img/porlet/sections/Header/Sections_R_hover.png);    
}

.sections_line
{
    background-image:url( ../img/porlet/sections/Header/bg_line.jpg);    
    /*margin-top: 40px;*/
}

.sections_footerbg
{
    height:11px; 
    background-image:url(../img/porlet/sections/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.sections_headerbg
{
    height:11px; 
    background-image:url(../img/porlet/sections/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#tabul .communications_left
{
    background-image:url( ../img/porlet/communications/Header/Comm_L.png);   
    background-repeat: no-repeat; 
}

#tabul .communications_bg
{
    background-image:url( ../img/porlet/communications/Header/Comm_bg.png);
    /*margin-top :10px;*/
}

#tabul .communications_right
{
    background-image:url( ../img/porlet/communications/Header/Comm_R.png);    
}

#tabul .communications_left_hover
{
    background-image:url( ../img/porlet/communications/Header/Comm_L_hover.png);   
    background-repeat: no-repeat; 
}

#tabul .communications_bg_hover
{
    background-image:url( ../img/porlet/communications/Header/Comm_bg_hover.png);
}

#tabul .communications_right_hover
{
    background-image:url( ../img/porlet/communications/Header/Comm_R_hover.png);    
}

.communications_line
{
    background-image:url( ../img/porlet/communications/Header/bg_line.jpg);    
    /*margin-top: 40px;*/
}

.communications_footerbg
{
    height:11px; 
    background-image:url( ../img/porlet/communications/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.communications_headerbg
{
    height:11px; 
    background-image:url(../img/porlet/communications/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#tabul .reports_left
{
    background-image:url( ../img/porlet/reports/Header/Reports_L.png);   
    background-repeat: no-repeat; 
}

#tabul .reports_bg
{
    background-image:url( ../img/porlet/reports/Header/Reports_bg.png);
    /*margin-top :10px;*/
}

#tabul .reports_right
{
    background-image:url( ../img/porlet/reports/Header/Reports_R.png);    
}

#tabul .reports_left_hover
{
    background-image:url( ../img/porlet/reports/Header/Reports_L_hover.png);   
    background-repeat: no-repeat; 
}

#tabul .reports_bg_hover
{
    background-image:url( ../img/porlet/reports/Header/Reports_bg_hover.png);
}

#tabul .reports_right_hover
{
    background-image:url( ../img/porlet/reports/Header/Reports_R_hover.png);    
}

.reports_line
{
    background-image:url( ../img/porlet/reports/Header/bg_line.jpg);    
    /*margin-top: 40px;*/
}

.reports_footerbg
{
    height:11px; 
    background-image:url( ../img/porlet/reports/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.reports_headerbg
{
    height:11px; 
    background-image:url(../img/porlet/reports/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#tabul .schools_left
{
    background-image:url( ../img/porlet/schools/Header/School_L.png);   
    background-repeat: no-repeat; 
}

#tabul .schools_bg
{
    background-image:url( ../img/porlet/schools/Header/School_bg.png);
    /*margin-top :10px;*/
}

#tabul .schools_right
{
    background-image:url( ../img/porlet/schools/Header/School_R.png);    
}

#tabul .schools_left_hover
{
    background-image:url( ../img/porlet/schools/Header/School_L_hover.png);   
    background-repeat: no-repeat; 
}

#tabul .schools_bg_hover
{
    background-image:url( ../img/porlet/schools/Header/School_bg_hover.png);
}

#tabul .schools_right_hover
{
    background-image:url( ../img/porlet/schools/Header/School_R_hover.png);    
}

.schools_line
{
    background-image:url( ../img/porlet/schools/Header/bg_line.jpg);    
    /*margin-top: 40px;*/
}

.schools_footerbg
{
    height:11px; 
    background-image:url( ../img/porlet/schools/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.schools_headerbg
{
    height:11px; 
    background-image:url(../img/porlet/schools/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#tabul .adminstration_left
{
    background-image:url( ../img/porlet/adminstrations/Header/Admin_L.png);   
    background-repeat: no-repeat; 
}

#tabul .adminstration_bg
{
    background-image:url( ../img/porlet/adminstrations/Header/Admin_bg.png);
    /*margin-top :10px;*/
}

#tabul .adminstration_right
{
    background-image:url( ../img/porlet/adminstrations/Header/Admin_R.png);    
}

#tabul .adminstration_left_hover
{
    background-image:url( ../img/porlet/adminstrations/Header/Admin_L_hover.png);   
}

#tabul .adminstration_bg_hover
{
    background-image:url( ../img/porlet/adminstrations/Header/Admin_bg_hover.png);
}

#tabul .adminstration_right_hover
{
    background-image:url( ../img/porlet/adminstrations/Header/Admin_R_hover.png);    
}

.adminstration_line
{
    background-image:url( ../img/porlet/adminstrations/Header/bg_line.jpg);    
    /*margin-top: 40px;*/
}

.adminstration_footerbg
{
    height:11px; 
    background-image:url( ../../standard/img/porlet/adminstrations/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.adminstration_headerbg
{
    height:11px; 
    background-image:url(../../standard/img/porlet/adminstrations/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

#GrouptoolMenu
{
    list-style-type:none;
    padding-left: 5px;
    margin:0px;
}
#GrouptoolMenu li
{
   padding-top: 10px;
   cursor: pointer;
}

.footerbg
{
    height:11px; 
    background-image:url( ../../standard/img/porlet/home/Header/TopFrm_down.jpg);
    background-repeat: repeat-x;
}

.headerbg
{
    height:11px; 
    background-image:url(../../standard/img/porlet/home/Header/TopFrm_up.jpg);
    background-repeat: repeat-x;
    background-color:#ffffff;
    vertical-align:middle;
    padding:0px;
    margin:0px;
    border-left:1px solid #FFFFFF;
    border-right:1px solid #FFFFFF;
    border-top:1px solid #FFFFFF;
    border-bottom: 1px solid #ffffff;
}